
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    perspective: 1000px;
  }
  
  .card {
    width: 200px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    cursor: pointer;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-face {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid #E893C5;
    box-shadow: 0 4px 8px #BF8CE1;
    background-color: #EBB2C3;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }
  .borderStyle{
    border: solid 2px;
    border-radius: 10px;
    border-color: #BF8CE1;
    padding-left: 10px;
  }